{{!-- <div class="mainContainer"> --}}
<div class="parallax-container">
    <div class="parallax"><img src="backpacker.jpg" class="responsive-img" style="translate3d(-50%, 458.426px, 0px);">
    </div>
</div>

{{!-- {{#if results}}
{{#each result}}
{{else}}
<h1>No Results</h1>
{{/if}} --}}

<div class="section white">
    <div class="row container">
        <form class="container-fluid" id="inputElements" >
            <div class="row">
                <div class="col-md-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text alert-success" for="budgetInput"><i
                                    class="fas fa-money-bill-wave"></i></label>
                        </div>
                        <select class="custom-select" id="budgetInput" name="budget">
                            <option selected>Price</option>
                            <option value="1">$</option>
                            <option value="2">$$</option>
                            <option value="3">$$$</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text alert-success" id="city"><i
                                    class="fas fa-map-marker-alt"></i></span>
                        </div>
                        <input type="text" id="cityInput" class="form-control" placeholder="Where to?" aria-label="city"
                            aria-describedby="city" name="city">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text alert-success" id="arrival"><i
                                    class="fas fa-plane-arrival"></i></span>
                        </div>
                        <input id="from_date" type="text" name="arrival" class="datepicker" placeholder="Arrival">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text alert-success" id="departure"><i
                                    class="fas fa-plane-departure"></i></span>
                        </div>
                        <input id="to_date" type="text" name="departure" class="datepicker" placeholder="Departure">
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <div class="col-md-12" id="submitBlock">
                            <button id="submit" type="button" class="btn btn-lg btn-block">Create the
                                Adventure!</button>
                        </div>

                    </div>
                </div>
        </form>
    </div>

</div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/image.jpg" class="responsive-img"></div>
</div>