form.signup,
form.login {
  margin-top: 50px;
}



nav{
  background-color:rgb(32, 44, 32);
  padding: 50px;
}

.btn-large{
  background-color:rgb(32, 44, 32);
}

.container-two{
  background-image: url('../water.jpg');
}
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.parallax
.parallax-container{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

} 
.parallax img 
.parallax-container{
  position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
